.movies {
    background-color: #230052;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin-top: 2%;
    padding: 1rem;
    border-radius: 10px;
    list-style: none;
}

.movies h2 {
    color: #f7e702;
    font-weight: bold;
}

.movies h3 {
    color:#eccf77;
}

.movies p{
    color: white;
}